<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.tum.mw.ftm.praktikum.androidapp_strohhalm">

    <uses-permission android:name="android.permission.INT" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Set permissions for Bluetooth Low Energy -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!-- Location permissions are required for Bluetooth Low Energy -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- Needed only if your app targets Android 5.0 (API level 21) or higher. -->
    <uses-feature android:name="android.hardware.location.gps" />

    <!-- Devices without BLE can find the App, determine BLE availability at run-time -->
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/strohhalm_transparent"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".UserRegistrationActivity" />
        <activity
            android:name=".PatientViewActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".PatientRegistrationActivity"/>

        <activity android:name=".PopUps.PopUpActivity"
            android:theme="@style/AppTheme.PopUpTheme">
        </activity>
    </application>

</manifest>